.header {
    text-align: left;
    border-bottom: 1px outset #000000;
    height: fit-content;
}

.main-container {
    background-color: #ffffff;
}

.col {
    padding-top: 2%;
    height: 88.5vh;
}

.col:not(:last-child){
    border-right: 1px outset #000000;
}

img {
    margin-left: 5%;
    width: 20%;
    height: auto;

}